.rectangle {
    display: flex;
    width: 100vw;
    align-items: center;
    padding: 3.3rem;
    gap: 1.6rem;
    height: 40vh;
    position: relative;
}

.rectangle:hover {
    background:  #010510 !important;
    /* color: #eaeaea !important; */
}

/* .rectangle:hover svg {
    fill: #eaeaea !important;
} */

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.left {
    flex: 1.4
}

.right {
    flex: 0.6;
}

.rectangle.vert {
    background: #0c4541;
    color: #e44a48;
}

.rectangle.vert svg {
    fill: #e44a48;
}

.rectangle.blue {
    background: #256aff;
    color: #F7DD7D;
}

.rectangle.blue svg {
    fill: #F7DD7D;
}

.rectangle.purple {
    background: #EAD7D1;
    color: #4f2765;
}

.rectangle.purple svg {
    fill: #4f2765;
}

.rectangle.yellow {
    background: #C6CA53;
    color: #0E131F;
}

.rectangle.yellow svg {
    fill: #0E131F;
}

.rectangle.yellow:hover svg {
    fill: #eaeaea;
}

.rectangle.yellow:hover {
    color: #eaeaea;
}

.rectangle.pink {
    background: #E83F6F;
    /* color: #CFE8EF; */
    /* color: #D5E68D; */
    color: #FFE6E8;
}

.rectangle.pink svg {
    fill: #FFE6E8;
}

.rectangle.last {
    background: #443850;
    /* color: #FE5F55; */
    color: #30b359;
}

.rectangle.last svg {
    fill: #30b359;
}


.tags {
    display: flex;
    gap: 1rem;
}

.title {
    font-size: 5rem;
    line-height: 0.9;
    padding: 0;
    margin: 0;
}

h2, h3, h4 {
    margin: 0 !important;
    padding: 0 !important;
}

h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
}

/* les svg */

.rectangle svg:nth-of-type(1) {
    width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    top: 0;
    left: 0;
}

.rectangle svg:nth-of-type(2) {
    width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

.rectangle svg:nth-of-type(3) {
    width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    bottom: 0;
    left: 0;
    transform: scaleY(-1);
}

.rectangle svg:nth-of-type(4) {
    width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    bottom: 0;
    right: 0;
    transform: scale(-1);
}

.rectangle svg:nth-of-type(5), .rectangle svg:nth-of-type(6), .rectangle svg:nth-of-type(7), .rectangle svg:nth-of-type(8){
display: none;
}

.rectangle:hover svg:nth-of-type(1), .rectangle:hover svg:nth-of-type(2), .rectangle:hover svg:nth-of-type(3), .rectangle:hover svg:nth-of-type(4) {
    display:none;
}

.rectangle:hover svg:nth-of-type(5), .rectangle:hover svg:nth-of-type(6), .rectangle:hover svg:nth-of-type(7), .rectangle:hover svg:nth-of-type(8) {
    display:block;
}

.rectangle:hover svg:nth-of-type(5) {
        width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    top: 0;
    left: 0;
}

.rectangle:hover svg:nth-of-type(6) {
        width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

.rectangle:hover svg:nth-of-type(7) {
        width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    bottom: 0;
    left: 0;
    transform: scaleY(-1);
}

.rectangle:hover svg:nth-of-type(8) {
        width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    bottom: 0;
    right: 0;
    transform: scale(-1);
}

