.rectangle {
    display: flex;
    width: 100vw;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    height: 40vh;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.left {
    flex: 1.5
}

.right {
    flex: 0.5;
}

.rectangle.vert {
    background: #0c4541;
    color: #e44a48;
}

.rectangle.blue {
    background: #256aff;
}

.tags {
    display: flex;
    gap: 1rem;
}

.title {
    font-size: 5rem;
    line-height: 0.9;
    padding: 0;
    margin: 0;
}

h2, h3, h4 {
    margin: 0 !important;
    padding: 0 !important;
}

h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
}

