.rectangle {
    display: flex;
    width: 100vw;
    align-items: center;
    padding: 3.3rem;
    gap: 1.6rem;
    height: 40vh;
    position: relative;
}

.rectangle:hover {
    background:  #010510 !important;
    color: #eaeaea !important;
}

.rectangle:hover svg {
    fill: #eaeaea !important;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.left {
    flex: 1.4
}

.right {
    flex: 0.6;
}

.rectangle.vert {
    background: #0c4541;
    color: #e44a48;
}

.rectangle.vert svg {
    fill: #e44a48;
}

.rectangle.blue {
    background: #256aff;
    color: #F7DD7D;
}

.rectangle.blue svg {
    fill: #F7DD7D;
}

.rectangle.purple {
    background: #EAD7D1;
    color: #4f2765;
}

.rectangle.purple svg {
    fill: #4f2765;
}

.tags {
    display: flex;
    gap: 1rem;
}

.title {
    font-size: 5rem;
    line-height: 0.9;
    padding: 0;
    margin: 0;
}

h2, h3, h4 {
    margin: 0 !important;
    padding: 0 !important;
}

h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
}

/* les svg */

.rectangle svg:nth-of-type(1) {
    width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    top: 0;
    left: 0;
}

.rectangle svg:nth-of-type(2) {
    width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

.rectangle svg:nth-of-type(3) {
    width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    bottom: 0;
    left: 0;
    transform: scaleY(-1);
}

.rectangle svg:nth-of-type(4) {
    width: 90px;
    height: auto;
    display: block;   
    position: absolute; 
    bottom: 0;
    right: 0;
    transform: scale(-1);
}

