@import url('https://fonts.googleapis.com/css2?family=Cossette+Texte:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bpmf+Huninn&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* targets every element on the page */

html, body, #root {
  height: 100%;
    background: #f8f8f8;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
  padding: 0 !important;
}

h2 {
  font-family: 'Bpmf Huninn';
  font-weight: 300;
}

h3, h4 {
  font-family: 'Bpmf Huninn';
}