* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* targets every element on the page */

html, body, #root {
  height: 100%;
}

body {
  line-height: 1;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}